@{
    ViewData["Title"] = "Chef Site Migrartion sample app";
}

<section class="container">
    <hgroup>
        <h1>Sample .NET Core Application on Alibaba Cloud</h1>
    </hgroup>


    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6">
            <h2>.NET Framework Version</h2>
            <p>
                .NET Core 1.0
            </p>

            <h2>Application Environment Variables</h2>
            <b>NOTE: Environment variables may include secure content. Do not expose all your environment variables.</b>
            <br />
            <br />
            <p>
                @ViewBag.EnvironmentVariables
            </p>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6">

            <h2>Managing your application</h2>

            <p>Documentation on how to manage your application from the Web Console or Command Line is available at the <a href="#" target="_blank">Developer Guide</a>.</p>

            <h3>Web Console</h3>
            <p>You can use the Web Console to view the state of your application components and launch new builds.</p>

        </section>
    </div>

</section>

